.centered-text {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-40%, -40%);
    font-size: 60px;
    color: white;
    text-align: center;
}

/* centered text on top of an image: https://www.w3schools.com/howto/howto_css_image_text.asp */

.b-img {
    filter:brightness(0.6);
    object-fit: cover;
}

.hide {
    display: none
}

